# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Windows
*.exe
*.dll
*.bat
*.ps1

# Others
*.swp
*.swo

# tests
# *.json
test-persona-juridica-completo.json
test-persona-juridica-simple.json
test-persona-natural.json
test-master-chief.json